# Install shinx extensions
# TODO: Remove this when memory consumption issues are fixed
sphinxcontrib-bibtex
git+https://github.com/lukelbd/sphinx-automodapi@v0.6.proplot-mods
matplotlib
ipython
xarray
scipy
numpy
lxml
